<!DOCTYPE html>
<html>
<head>
	<title>Layout 1</title>
	<link rel="stylesheet" type="text/css" href="style2.css">
</head>
<body>
	<div class="header">
		<div>
			<div>Layout 1</div>
			<div>Link and Link and Link</div>
		</div>
	</div>
	<main>
		<div class="body">
			<div>
				<h2>Content 1</h2>
				<p>Blah blah blah</p>
			</div>
			<div>
				<div id="search">
					<form>
						<input type="text" name="text">
						<button>Search</button>
					</form>
				</div>
			</div>
			<div class="spacer"></div>
			<div class="three">Content 3</div>
			<div class="three">Content 4</div>
			<div class="three">Content 5</div>
		</div>
	</main>
	<div class="footer">
		<div>Footer</div>
	</div>
</body>
</html>